<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Solomons Honey | Shop </title>
</head>
<body>
    <header class="header-minor">
        <%- include('./partials/nav') %>
        <div class="hero-grid grid">
            <div class="hero">
                <h3 class="caption">shop</h3>
                <h1 class="title">My Cart</h1>
            </div>
        </div>
    </header>

    <section id="cart" class="grid">
        <div class="container">
            <div class="cart-grid">

                <% cart.forEach((cartItem) => { %>
                <div class="cart-item">
                    <div class="cart-item-txt">
                        <div class="cart-item-txt-about">
                            <p><%=cartItem.Title%></p>
                            <h2 class="sub-title">Ksh. <%=cartItem.Unit_Price%></h2>
                        </div>
                            
                        <div class="card-item-txt-controls">
                            <div class="quantity">
                                <button class="cta" onclick="decrementCartItem('<%=cartItem.Id%>')">-</button><span class="quantityNumber"></span><button class="cta" onclick="incrementCartItem('<%=cartItem.Id%>')">+</button>
                            </div>
                            <button class="btn cta" onclick="removeFromCart('<%=cartItem.Id%>')">Remove</button>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </section>

    <%- include('./partials/footer') %>

    <!--scripts-->
    <script>
        let removeFromCart = async(itemId) => {
            let url = '/removeFromCart';
            let data = {itemId};
            let options = {
                method: 'POST',
                Headers: {
                    'Content-Type': 'Application/json'
                },
                body: JSON.stringify(data)
            }
            let response = await fetch(url, options);
            let json = response.json();
            console.log(json);
        }

        let decrementCartItem = async(itemId) => {
            let url = '/DecrementCartItem';
            let data = {itemId};
            let options = {
                method: 'POST',
                Headers: {
                    'Content-Type': 'Application/json'
                },
                body: JSON.stringify(data)
            }
            let response = await fetch(url, options);
            let json = response.json();
            console.log(json);
        }

        let incrementCartItem = async(itemId) => {
            let url = '/DecrementCartItem';
            let data = {itemId};
            let options = {
                method: 'POST',
                Headers: {
                    'Content-Type': 'Application/json'
                },
                body: JSON.stringify(data)
            }
            let response = await fetch(url, options);
            let json = response.json();
            console.log(json);
        }
    </script>
    <%- include('./partials/scripts'); %>
</body>
</html>