<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Solomons Honey | Shop </title>
</head>
<body>
    <header class="header-minor">
        <%- include('./partials/nav') %>
        <div class="hero-grid grid">
            <div class="hero">
                <h3 class="caption">Get some honey today</h3>
                <h1 class="title">Shop</h1>
            </div>
        </div>
    </header>

    <section id="shop" class="grid">
        <div class="container">
            <div class="section-heading">
                <h3 class="caption">Who are we</h3>
                <h2 class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda?</h2>
            </div>

            <div class="products-grid">
                <% products.forEach((product) => { %>
                    <div class="product">
                        <img src="..<%=product.Img_Url%>" alt="">
                        <div class="product-txt">
                            <p><%=product.Title%></p>
                            <h2 class="sub-title">Ksh. <%=product.Unit_Price%></h2>
                            <button onclick="addToCart('<%=product.Id%>')" class="btn cta">Add to cart</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>

    <%- include('./partials/footer') %>

    <!--scripts-->
    <script>
        let addToCart = async (itemId)=> {
            let url = '/addToCart';
            let data = { itemId };
            let response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    mode: 'same-origin',
                    body: JSON.stringify(data)
                })
            let res = await response.json();
            console.log(res); 
        }
    </script>
    <%- include('./partials/scripts'); %>
</body>
</html>